<ion-header>
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <ion-card *ngFor="let p of pastel">
        <img [src]="p.imagen" />
        <ion-card-header>
          <ion-card-subtitle>Detalle del Pastel</ion-card-subtitle>
          <ion-card-title>{{p.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>Precio: ${{p.precio}}</ion-card-content>
        <ion-card-content>Fecha de elaboración: {{p.fecha}}</ion-card-content>
        <ion-card-content>Proveedor: {{p.proveedor}}</ion-card-content>
        <ion-card-content>Tamaño: {{p.tamanio}}</ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

</ion-content>
